USE [master]
GO
/****** Object:  Database [ATM]    Script Date: 9/1/2014 5:48:50 PM ******/
CREATE DATABASE [ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ATM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ATM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
/****** Object:  Table [dbo].[CardAccounts]    Script Date: 9/1/2014 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardAccounts](
	[CardAccountId] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nchar](10) NOT NULL,
	[CardPIN] [nchar](4) NOT NULL,
	[CardCash] [money] NOT NULL,
 CONSTRAINT [PK_CardAccounts] PRIMARY KEY CLUSTERED 
(
	[CardAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionsHistory]    Script Date: 9/1/2014 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionsHistory](
	[TransactionHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nchar](10) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Ammount] [money] NOT NULL,
 CONSTRAINT [PK_TransactionsHistory] PRIMARY KEY CLUSTERED 
(
	[TransactionHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CardAccounts] ON 

INSERT [dbo].[CardAccounts] ([CardAccountId], [CardNumber], [CardPIN], [CardCash]) VALUES (1, N'1242612412', N'1512', 250.0000)
INSERT [dbo].[CardAccounts] ([CardAccountId], [CardNumber], [CardPIN], [CardCash]) VALUES (2, N'1151241241', N'8241', 250.0000)
INSERT [dbo].[CardAccounts] ([CardAccountId], [CardNumber], [CardPIN], [CardCash]) VALUES (4, N'3714912646', N'2142', 500.0000)
SET IDENTITY_INSERT [dbo].[CardAccounts] OFF
SET IDENTITY_INSERT [dbo].[TransactionsHistory] ON 

INSERT [dbo].[TransactionsHistory] ([TransactionHistoryId], [CardNumber], [TransactionDate], [Ammount]) VALUES (1, N'1242612412', CAST(N'2014-09-01 17:45:48.160' AS DateTime), 200.0000)
INSERT [dbo].[TransactionsHistory] ([TransactionHistoryId], [CardNumber], [TransactionDate], [Ammount]) VALUES (2, N'1242612412', CAST(N'2014-09-01 17:46:55.180' AS DateTime), 200.0000)
SET IDENTITY_INSERT [dbo].[TransactionsHistory] OFF
USE [master]
GO
